@tailwind base;
@tailwind components;
@tailwind utilities;

#javascript30 {
  position: sticky;
  top: 0;
  transition-duration: 300ms;
  width: fit-content;
}

.scroll #javascript30 {
  padding-top: 1rem;
  font-size: theme(fontSize.2xl);
  margin-bottom: 0;
  font-weight: 600;
}

.scroll nav {
  @apply drop-shadow;
  height: theme(spacing.16);
  background: theme(colors.slate.100);
}

.dark.scroll nav {
  background: theme(colors.slate.800);
}
